
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

html, body {
    font-size: 85%;
}

body {
    font-style: 1rem;
    background-color: #e0e0e0;
    counter-reset: question-no;
    letter-spacing: 0.9px;
    position: relative;
    line-height: 1.2;
}

.container {
    width: min(100%, 800px);
    margin-inline: auto;
    margin-top: 1rem;
    background-color: none;
    padding-inline: 1rem;
    border-radius: 10px;
}

.header {
    padding: 8px 10px;
    background-color: #4a6c72;
    position: absolute;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    hr {
        margin-block: 10px;
    }


    h1,
    h2 {
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        margin: 5px 0;

    }

    h2 {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    h2 span#rightanswer,
    h2 span#wronganswer {
        border: none;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        margin: 0px 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        text-shadow: 0px 1px 2px #000000;

    }

    h2 span#rightanswer {
        background-color: #4cc76a;
    }

    h2 span#wronganswer {
        background-color: #c04444;
    }

}
   
.header h2 span#rightanswer.shaking-animation {
    /* background-color: #176a71; */
    animation-name: horizontal-shaking;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}
.header h2 span#wronganswer.shaking-animation {
    /* background-color: #176a71; */
    animation-name: horizontal-shaking;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}


@keyframes horizontal-shaking {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }




ul {
    list-style-type: none;
}

ul li {
    -webkit-transition: background-color .2s cubic-bezier(0, 0, .2, 1);
    transition: background-color .2s cubic-bezier(0, 0, .2, 1);
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px -1px #463f3f,0px 0px 4px -1px #463f3f;
    padding: 1.5rem;
    page-break-inside: avoid;
    word-wrap: break-word;
}

.question {
    display: flex;
    justify-content: space-between;

}

.question span {
    color: #4b4b4b;
    font-size: 1rem;
    white-space: nowrap;
    margin-left: 5px;

}

.question span>small {
    color: #ff0000;
    font-size: 1.3rem;
}

h3.question-text {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000000;
}

h3.question-text::before {
    counter-increment: question-no;
    content: counter(question-no) ". ";
    font-size: inherit;
    font-weight: 500;
    color: #000000;
}

label {
    user-select: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    margin-block: 6px;
    cursor: pointer;
    color: #1b1b1b;
    background-color: #e2e2e2e8;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    border: none;
    transition: all 200ms ease-in;
}

label:hover,
label:focus {
    box-shadow: 1px 1px 2px 0px #000000;
    background-color: #bebebe;
}

label.rightanswer {
    background-color: #5bc367;
    outline: 1px solid #17cf45;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;;
    box-shadow: 1px 2px 2px 0px #000000;

}

label.wronganswer {
    background-color: #e33f3f85;
    outline: 1px solid #ff4c4c;
    box-shadow: 1px 2px 2px 0px #000000;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;;

}

li.rightanswer {
    background-color: #7bcf857d;
    outline: 1px solid #00c130;
    box-shadow: 1px 2px 2px 0px #000000;

}

li.wronganswer {
    background-color: #e29d9d7d;
    outline: 1px solid #ff0000;
    box-shadow: 1px 2px 2px 0px #000000;

}

input[type="checkbox"],
input[type="radio"] {
    --size: 1.250rem;
    width: var(--size);
    height: var(--size);
    margin-right: 15px;
    accent-color: #454b4e;
    cursor: pointer;
}



.controls {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;

    p {
        margin-block: 15px;
        font-size: 1.1em;
    }

    .controls-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.9em;
        font-weight: 600;


        h2 {
            border: none;
            outline: 2px solid #30c8d6;
            background-color: #2c3a3bc9;
            margin-right: 10px;
            padding-inline: 10px;
            color: #ffc400;
            border-radius: 5px;
            font-size: inherit;
            font-weight: inherit;
            max-width: 100%;
            margin-block: 10px;
            padding: 8px;



            mark {
                font-size: 1rem;
                padding: 5px;
                border-radius: 100%;
                margin-inline: 3px;
                line-height: 2;
                color: #585858;


            }
        }

        .multi_quiz_start_btn {
            min-width: 110px;
            background-color: #176a71;
            outline: 2px solid #26c1cf;
            color: #fff;
            border: none;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: inherit;
            font-weight: inherit;

            &:hover {
                background-color: #0c4146;

            }
        }
    }
}



@media screen and (max-width :50em) {
    html {
        font-size: 90%;
    }

    body {
        background-color: #6d3c3c00;
    }

    .header {
        margin: 0px 0px 10px;
        padding-inline: 15px;
        border-radius: 0px;

        h2 {
            justify-content: space-between;
            align-items: center;
            padding: 0px;

            span#rightanswer,
            span#wronganswer {
                font-size: 1.3rem;
                margin: 0px;
                padding-block: 0.5rem;
                padding-inline: 0.8rem;
            }
        }

        .answers {
            display: display;
            justify-content: space-between;
        }
    }


    .container {
        width: min(100%);
    }
}





@media screen and (max-width :30em) {
    html {
        font-size: 75%;
    }


    .header {
        border-radius: 0px;
        padding-inline: 0.5rem;

        h2 {
            justify-content: space-between;
            align-items: center;
            padding: 0px;

            span#rightanswer,
            span#wronganswer {
                font-size: 1.2rem;
                margin: 0px;
                padding-inline: 0.3em;
            }
        }

        .answers {
            display: none;
            justify-content: space-between;
        }
    }
    .container {
        width: min(100%);
        padding-block: 0.2rem;
        padding-inline: 0.8rem;
        margin-block: 0px !important;
        border-radius: 0px;
    }

    ul {
        padding-inline: 0rem;
    }

    ul li{
        padding: 1rem;
        border-radius: 5px;
    }

    .controls-content {
        font-size: 1.1em;


        h2 mark {
            line-height: 2.5;
            margin: 0px;
        }


    }
}